/* ABOUT US SECTION */
#menu-div{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#para-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 50px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black */
    backdrop-filter: blur(6px);
}

#name{
    color: orange;
    font-weight: bold;
    font-size: 3rem;
}
.about-para{
    font-size: 1.4rem;
    line-height:0.8cm;
}